<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Drift_Racing_Team_logo.png">
    <link rel="stylesheet" href="/css/PI1.css">
    <title>PI 1 result</title>
</head>
<body>
    <header class="drift_racing_team">
        <h2>Drift Racing Team</h2>
        <br>
        <h3>2022 Inductions</h3>
    </header>
    <main class="table">
        <section class="table__header">
            <h1>PI-1 results </h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Sl.No.</th>
                        <th>Name</th>
                        <th>Registration No.</th>
                        <th>PI-2 Panel</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}} 
                    <tr>
                        <th scope="row">{{@index}}</th>
                         <td style="max-width: 10%;"> {{firstName}} {{lastName}}</td>
                         <td style="max-width: 5%;"> {{registrationNo}}</td>
                        <td style="max-width: 5%;">{{pi2Panel}}</td>
                    </tr>
                    {{/each}} 
                </tbody>
            </table>
        </section>
    </main>
</body>
</html> 